@page "/fornecedores"
@using Kietec.Core.Models
@using MudBlazor
@inherits GetAllFornecedoresPage

<MudText Typo="Typo.h3">Fornecedores</MudText>

<div class="d-flex justify-end">
    <MudButton
        Variant="Variant.Filled"
        Color="Color.Primary"
        StartIcon="@Icons.TwoTone.Add"
        Href="/fornecedores/adicionar">
        NOVO FORNECEDOR
    </MudButton>
</div>

<MudDataGrid Class="mt-4"
             Items="@Fornecedores"
             ReadOnly="false" EditMode="@DataGridEditMode.Form"
             CommittedItemChanges="CommittedItemChanges"
             T="Fornecedor">
    <Columns>
        <HierarchyColumn T="Fornecedor" ButtonDisabledFunc="@(x => x.Produtos?.Count < 1)" />
        <PropertyColumn Property="x => x.Id" Title="Id"/>
        <PropertyColumn Property="x => x.Nome" Title="Nome"/>
        <PropertyColumn Property="x => x.Telefone" Title="Telefone"/>
        <TemplateColumn Class="d-flex justify-end">
            <CellTemplate>
                <MudIconButton
                    Icon="@Icons.Material.Filled.Delete"
                    Color="Color.Error"
                    OnClick="() => OnDeleteButtonClickedAsync(context.Item.Id, context.Item.Nome)"/>
                <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Edit" OnClick="@context.Actions.StartEditingItemAsync" />
            </CellTemplate>
        </TemplateColumn>
    </Columns>
    <ChildRowContent>
        <MudCard>
            <MudCardHeader>
                <CardHeaderContent>
                    @if (@context.Item.Produtos != null)
                    {
                        @foreach(var item in @context.Item.Produtos)
                        {
                        <MudText >@item.Nome</MudText>
                        <MudText >@item.Descricao</MudText>
                        }
                    }
                </CardHeaderContent>
            </MudCardHeader>
        </MudCard>
    </ChildRowContent>
</MudDataGrid>

@code {
    void CommittedItemChanges(Fornecedor fornecedor)
    {
        OnEditAsync(fornecedor.Id, fornecedor);
    }
}

